ul{
    display: flex;
    height:200px;
    align-items: flex-end;
}
.liStyle{
    list-style: none;
    float:left;
    width:20px;
    font-size:15px;
    color:#fff;
    background-color:red;
    text-align:center;

    margin-right:2px;
    margin-top:5px;
}
.cursor{
    cursor:pointer;
}